#header{
    /*h1の中央寄せ配置の基点とするためのrelatibe*/
    position: relative;
    height: 100vh; /*高さを全画面にあわせる*/
}

#video-area{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

#video{
    /*天地中央配置*/
    z-index: -1;
    /*縦横幅指定*/
    /*16:9の幅　１６　÷ ９＝177.77*/
    width: 1%;
    /*16:9の幅　9 ÷ 16＝56.25%*/
    height: 1%;
    min-height: 50%;
    min-width: 50%;
}

